/* 全体のCSS */
body {
    font-family: "メイリオ", sans-serif;
    margin: 20px;
    background-color: #f9fbff;
}

h2 {
    font-size: 18px;
    border-bottom: 2px solid #000;
    padding-bottom: 4px;
    margin-top: 30px;
    
}

/* 商品カテゴリ */
.category {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 16px;
    margin: 10px 0 20px;
}

.category a {
    text-decoration: underline;
    color: #333;
    font-size: 14px;
}

/* メニュー部分 */
.menu-box {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.menu-item {
    flex: 1;
    border: 2px solid #000;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
}

/* 商品エリア */
.product-area {
    display: flex;
    flex-wrap: wrap;       /* 折り返し可能にする（6個ごとに改行） */
    gap: 20px;             /* 商品の間の余白 */
    margin-top: 15px;
}

.product {
    width: 120px;          /* 各商品の幅 */
    text-align: center;
}

.product img {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: transform 0.2s;
}

.product img:hover {
    transform: scale(1.1);
}

.product p {
    font-size: 13px;
    margin-top: 4px;
}

.next-btn {
    border: none;
    background: #fff;
    font-size: 20px;
    cursor: pointer;
}

/* 機能サークル */
.feature-area {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.feature {
    width: 120px;
    height: 120px;
    border: 2px solid #000;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    padding: 30px 10px;
    line-height: 1.4;
    background-color: #fff;
}
